html,
body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  font-family: sans-serif;
  background-color: #ffffff;
}

/* Telefonos */
@media only screen and (max-width: 600px) {
  header {
    width: 100%;
  }

  nav {
    width: 100%;
  }

  section {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  div {
    align-items: center;
  }

  article {
    width: 100%;
    flex-direction: column;
  }

  aside {
    width: 100%;
  }

  .cont-tecnologies {
    width: 100%;
  }
}

/* Tablets pequeñas */
@media only screen and (min-width: 600px) {
  header {
    width: 100%;
  }

  nav {
    width: 100%;
  }

  section {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  div {
    align-items: center;
  }

  article {
    width: 100%;
    flex-direction: column;
  }

  .cont-tecnologies {
    width: 100%;
  }
}

/* Tablets medianas/grandes */
@media only screen and (min-width: 768px) {
  header {
    width: 100%;
  }

  nav {
    width: 100%;
  }

  section {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  div {
    align-items: center;
  }

  article {
    width: 100%;
    flex-direction: column;
  }

  .cont-tecnologies {
    width: 100%;
  }
}

/* Tablets grandes(horizontal) o laptops muy pequeñas*/
@media only screen and (min-width: 992px) {
  header {
    width: 80%;
    border-radius: 0 0 1.2vh 1.2vh;
  }

  nav {
    width: 80%;
    border-radius: 1.2vh;
  }

  section {
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    align-items: start;
    border-radius: 1.2vh;
  }

  div {
    align-items: start;
  }

  h2 {
    text-align: justify;
  }

  p {
    text-align: left;
  }

  article {
    width: 80%;
    border-radius: 1.2vh;
    flex-direction: row;
  }

  aside {
    width: 40%;
  }
}

/* Laptops o monitores desktop */
@media only screen and (min-width: 1200px) {
  header {
    width: 80%;
    border-radius: 0 0 1.2vh 1.2vh;
  }

  nav {
    width: 80%;
    border-radius: 1.2vh;
  }

  section {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 80%;
    border-radius: 1.2vh;
  }

  div {
    align-items: start;
  }

  h2 {
    text-align: justify;
  }

  p {
    text-align: left;
  }

  article {
    width: 80%;
    border-radius: 1.2vh;
  }
}

header {
  height: clamp(3.7rem, 8vh, 4.5rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #293239;
}

h1 {
  font-size: clamp(2rem, 3vw, 2rem);
  color: #ffffff;
}

nav {
  height: clamp(calc(3.7rem * 0.6), calc(10vh * 0.6), calc(6.7rem * 0.6));
  background-color: #293239;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
}

a {
  margin: 0 1.2vh;
  font-size: clamp(calc(2rem * 0.6), calc(3vw * 0.6), calc(2rem * 0.6));
  text-decoration: underline;
  color: #d2e5e9;
  transition: 0.2s ease-in-out;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  letter-spacing: 0.04rem;
}

a:active {
  text-decoration: underline;
  color: #ffffff;
}

section {
  display: flex;
  text-align: center;
  box-sizing: border-box;
  padding: 8vh;
  gap: 4vh;
  background-color: #293239;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4vh;
  flex: 1;
  width: clamp(20rem, 80%, 60rem);
  height: 28rem;
}

p {
  font-size: clamp(calc(2rem * 0.8), calc(2vw * 0.8), calc(3.2rem * 0.8));
  margin: 0;
  color: #d2e5e9;
}

h2 {
  font-size: clamp(calc(2rem * 1.2), calc(3vw * 1.2), calc(2rem * 1.2));
  color: #ffffff;
  margin: 0;
}

button {
  border-radius: 1.2vh;
  padding: clamp(0.8rem, 1.2vh, 2vh) clamp(1rem, 1.5vh, 2.5vh);
  font-size: clamp(calc(2rem * 0.5), calc(2vw * 0.5), calc(3.2rem * 0.5));
  border-radius: 1.2vh;
  border: none;
  transition: 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.2);
}

img {
  width: clamp(20rem, 30vw, 28rem);
  border-radius: 1.2vh;
  margin: auto 0;
}

article {
  display: flex;
  text-align: center;
  box-sizing: border-box;
  padding: 4vh;
  gap: 2vh;
  background-color: #293239;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.cont-habilities {
  box-sizing: border-box;
  border-radius: 1.2vh;
  background-color: #3b4851;
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 0;
  flex: none;
  gap: 3vh;
  padding: 4vh;
  width: 100%;
  height: auto;
}

.img-habilities {
  height: 4.4rem;
  width: 4.4rem;
  margin: 0;
  border-radius: 0;
}

.cont-info-habilities {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 100%;
  gap: 2vh;
}

h3 {
  margin: 0;
  color: #ffffff;
  font-size: clamp(calc(2rem * 0.7), calc(3vw * 0.7), calc(2rem * 0.7));
  text-align: left;
}

span {
  text-align: left;
  margin: 0;
  color: #d2e5e9;
  font-size: clamp(calc(2rem * 0.6), calc(3vw * 0.6), calc(2rem * 0.6));
}

.button-learn-more {
  padding: clamp(0.4rem, 0.6vh, 1vh) clamp(0.5rem, 0.75vh, 1.25vh);
  font-size: clamp(calc(2rem * 0.5), calc(3vw * 0.5), calc(2rem * 0.5));
}

.cont-tecnologies {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2vh;
  padding: 4vh;
  height: auto;
  box-sizing: border-box;
  background-color: #3b4851;
  border-radius: 1.2vh;
}

.tit-tecnologies {
  width: 100%;
  text-align: center;
}

.cont-images-tecnologies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2vh;
  width: 100%;
  margin: 0;
}

.img-tecnologies {
  height: 5rem;
  width: 5rem;
  margin: auto 2vh;
  border-radius: 0;
}

footer {
  width: 100%;
  height: 2.4rem;
  background-color: #d2e5e9;
  color: #707a7c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: clamp(calc(2rem * 0.5), calc(3vw * 0.5), calc(2rem * 0.5));
}
